<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Моя первая страница</title>
</head>
<body>
<h1>Привет, мир!</h1>
<h6>привет мир</h6>
<p>Это <b>моя</b> <i>первая</i> <u>веб-страница</u> на <strong>HTML</strong> <em>HTML</em>.</p>
<a href="https://www.google.com">Перейти на Google</a>
<img src="static/images/ai_religion.png" alt="Описание картинки" width="300" height="200">
<ol type = "1" start = 3>
  <li>Элемент 1</li>
  <li>Элемент 2</li>
  <li>Элемент 3</li>
</ol>
<ul type = "square">
  <li>Элемент 1</li>
  <li>Элемент 2</li>
  <li>Элемент 3</li>
</ul>
<table border="1" cellpadding="100" cellspacing="5" >
  <tr>
    <th colspan="2">Имя</th>
    <th>Возраст</th>
  </tr>
  <tr>
    <td rowspan="2">Анна</td>
    <td>25</td>
    <td>25</td>

  </tr>
  <tr>
    <td>Иван</td>
    <td>30</td>
  </tr>
</table>

</body>
</html>
